<p>{{title}}</p>


<input type="text" id="subRedditName" />
<button (click)="getSubReddit()" >Search</button>

<div *ngIf="subReddit && subReddit.data && subReddit.data.children">
  <div id="postContainer" *ngFor="let post of subReddit.data.children ">
    <div id="postChild" *ngIf="post.data">
      <div class="postTitle">
        <p>Title: {{post.data.title}}</p>
      </div>
  
      <div class="postThumb">
        <img src="{{post.data.thumbnail}}" />
      </div>
  
      <div class="postLink">
        <button>
          <a href="{{post.data.url}}">Post Link Here</a>
        </button>
      </div>
    </div>
  </div>
</div>

<!--
<div *ngIf="subReddit">
  <div *ngFor="let post of subReddit.data.children ">
    <p>Title: {{post.data.title}}</p>
  </div>
</div>
-->